<!DOCTYPE html>
<html>

<head>
    <title>Chef Amit's Farm</title>
    <link rel="stylesheet" href="/app.css">    
    <link rel="stylesheet" href="/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="/jquery-3.3.1.min.js"></script>
    <script src="/front.js"></script>
    <script src="/recipes.js"></script>
</head>

<body>