<!DOCTYPE html>
<html>

<head>
    <title>Chef Amit's Farm</title>
    <link rel="stylesheet" href="/css/app.css">    
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="/scripts/jquery-3.3.1.min.js"></script>
    <script src="/scripts/front.js"></script>
    <script src="/scripts/recipes.js"></script>
</head>

<body>